<label>
	<input
		class="p-3 rounded-lg bg-slate-50 border border-border outline-none"
		type="text"
		value="{{ this.value }}"
		placeholder="{{ this.placeholder }}"
		data-twig-component="base-filter-input-field"
		data-query-param="{{ queryParam }}"
	>
</label>