<div class="w-full content-start flex flex-wrap gap-6 overflow-auto">
	{% for rentalProperty in this.rentalProperties %}
		{# if OAuthService.isSignedIn || rentalProperty.isHouseTypeFree() #}
		{% if rentalProperty.isHouseTypeFree() %}
			{{ component('RentalProperty:Card', {rentalProperty}) }}
		{% endif %}
	{% endfor %}
</div>